.transfer-row {
    display: grid;
    grid-template-columns: 1.25rem 40px 1.5rem 40px 90px 90px 1fr 80px;
    gap: 1rem;
    align-items: center;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #d4d7d9;
    border-radius: 8px;
    cursor: pointer;

    .bank-logo {
        width: 40px;
        max-height: 16px;
    }

    .amount {
        text-align: center;
        font-weight: 600;
        color: #0969da;
    }

    .description {
        font-size: 0.85rem;
        color: #57606a;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        background-color: #f7f9fa;
    }

    & ::deep .bi-gear,
    & ::deep .bi-hand-index {
        width: 1.25rem;
        height: 1.25rem;
        text-align: center;
        font-weight: bold;
    }

    & ::deep .bi-arrow-right {
        width: 1.5rem;
        height: 1.5rem;
        text-align: center;
        font-weight: bold;
    }
}
