.card {
    .card-title {
        text-transform: uppercase;
        font-size: var(--fontsize-subheading);
        color: var(--colour-textmuted);
    }

    .card-value {
        font-size: var(--fontsize-heading);
        font-weight: var(--fontweight-semiblack);
    }

    .card-description {
        margin: 0;
        color: var(--colour-textmuted);
    }

    &.action {
        cursor: pointer;

        &:hover {
            background-color: var(--colour-card-hover) !important;
            transition-duration: 0.1s;
        }
    }
}
