.card {
    flex: 3;

    .heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--space-small);
    }

    .budget-category-usage {
        display: grid;
        gap: var(--space-small);
        grid-template-columns: 10rem auto;
        margin-bottom: var(--space-small);

        span a {
            color: var(--colour-textmuted);
            font-weight: var(--fontweight-semibold);
            display: inline-block;
            width: 100%;
            text-decoration: none;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
        }
    }

    .empty-text {
        align-content: center;

        p {
            text-align: center;
        }
    }
}
