.notification-screen {
    display: flex;
    flex-direction: column;
    border-radius: var(--bs-border-radius-2xl);
    align-items: center;
    align-items: center;
    position: absolute;
    left: 44%;
    bottom: 50%;
}
