:root {
    --colour-blue: #0d6efd;
    --colour-blue-hover: #0b5ed7;
    --colour-blue-accent: #e7f1ff;
    --colour-green: #198754;
    --colour-green-accent: #d4edda;
    --colour-light-grey: #dee2e6;
    --radius-small: 0.375rem;
    --radius-medium: 0.5rem;
    --width-sidebar: 250px;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
    padding: 1.1rem;
}

.page-heading {
    margin-bottom: 1.5rem;
}

.section-heading {
    margin-top: 1rem;
    font-size: 1.2rem;
}

h1 {
    font-size: 2em;
}

select {
    cursor: pointer;
}

input[type=date] {
    cursor: text;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.bi {
    display: inline-block;
    position: relative;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.transaction-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .details-grid {
        display: grid;
        gap: 1rem;
    }

    .details-field {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;


        & label {
            font-weight: 500;
        }

        & span {
            padding: 0.5rem 0.75rem;
            border: 1px solid #d1d5db;
            border-radius: var(--radius-small);
            background-color: #f9fafb;
            min-height: 2.4rem;
            display: flex;
        }
    }

    @media (max-width: 640.98px) {
        .details-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media (min-width: 641px) {
        .details-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
