.category-group-panel {
    .header {
        display: flex;
        align-items: end;
        margin-bottom: var(--space-small);

        .btn-group {
            margin-left: auto;
        }
    }
}

::deep .category-col,
::deep .category-action-col {
    width: 1%;
    white-space: nowrap;
}

::deep .category-action-col {
    text-align: right;
}

::deep .text-center {
    width: 1%;
}

::deep .hx-grid-empty-data-row .text-center {
    width: 100%;
}

::deep .back-button {
    font-size: 2rem;
    margin-left: -0.7rem;

    &:active {
        border: none;
    }
}

::deep .cell {
    padding: 0.5rem;
}

    ::deep .cell.selected {
        background-color: var(--bs-primary-bg-subtle);
    }

::deep .rounded-circle {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

::deep tr.danger td {
    background-color: var(--colour-danger-lightest);
}
