.chart-wrapper {
    border-radius: var(--radius-medium);
    background-color: var(--colour-card);
    margin-top: var(--space-medium);
    border: 1px solid var(--colour-border);

    .actions, .legend {
        padding: var(--space-medium) var(--space-medium) 0 var(--space-medium);
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--space-small);
    }

    .legend {
        margin-bottom: -2rem;
        z-index: 2;
        position: relative;

        .legend-item {
            font-weight: var(--fontweight-normal);
        }
    }
}

.message {
    margin-top: var(--space-medium);
}

::deep .legend-item .legend-line {
    width: 1rem;
    margin-right: 0.2rem;
    border-bottom: 2px solid;
}

::deep .legend-item .inactive {
    color: var(--colour-textmuted);
}