.transaction-group {
    display: grid;
    grid-template-columns: 1fr 8rem;
    border: 1px solid #d4d7d9;
    border-radius: 8px;

    .transactions-row {
        display: grid;
        grid-template-columns: 12rem 9rem 1fr 9rem 2rem;
        gap: 1rem;
        align-items: center;
        padding: 0.75rem 1rem;

        input[type=number] {
            text-align: right;
        }
    }

    .action-buttons {
        display: flex;
        gap: var(--space-small);
        justify-content: end;
        padding: 0.75rem 1rem 0.75rem 0;
    }

    &.actionless {
        grid-template-columns: 1fr;
    }
}

    .transaction-group ::deep .action-buttons button,
    .transaction-group ::deep div[role=button] {
        padding: var(--hx-context-menu-button-padding);
        border-radius: var(--hx-context-menu-button-border-radius);
        color: var(--colour-text);
    }

        .transaction-group ::deep .action-buttons button:hover,
        .transaction-group ::deep div[role=button]:hover {
            background-color: var(--hx-context-menu-button-hover-background);
        }

        .transaction-group ::deep .action-buttons button[type=submit] {
            background-color: var(--colour-secondary);
            border-color: var(--colour-secondary);
            font-size: 1.4rem;
        }

            .transaction-group ::deep .action-buttons button[type=submit]:hover {
                background-color: var(--colour-secondary-hover);
                border-color: var(--colour-secondary-hover);
            }

            .transaction-group ::deep .action-buttons button[type=submit] i {
                padding-right: 1px;
                padding-bottom: 2px;
                color: var(--colour-text);
            }

        .transaction-group ::deep div[role=button],
        .transaction-group ::deep .action-buttons button[type=button] {
            background-color: var(--colour-accent);
            border-color: var(--colour-accent);
            font-size: 1.2rem;
        }

            .transaction-group ::deep div[role=button]:hover,
            .transaction-group ::deep .action-buttons button[type=button]:hover
            {
                background-color: var(--colour-accent-hover);
                border-color: var(--colour-accent-hover);
            }

            .transaction-group ::deep .action-buttons button[type=button] i {
                padding: 0 2px;
            }
