.budget-grid {
    display: grid;
    gap: .5rem;

    &.budget-grid-12 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &.budget-grid-7 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &.budget-grid-14 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 1200px) {
    .budget-grid-12 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .budget-grid-12,
    .budget-grid-7 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
