.budget-cell {
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: .5rem;
    min-height: 7.5rem;
    padding: .5rem;
    background: var(--bs-gray-100);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    .budget-cell-header {
        position: sticky;
        top: 0;
        padding-bottom: .25rem;
        margin-bottom: .35rem;
        font-weight: 600;
        opacity: .85;
        user-select: none;
        text-align: center;
    }

    .budget-entry-slot {
        display: contents;
    }

    &:hover:not(:has(.budget-entry-slot:hover)) {
        transition-duration: .3s;
        background-color: var(--bs-gray-200);
    }
}