.budget-entry {
    display: flex;
    position: absolute;
    gap: 0.5rem;
    background-color: var(--entry-bg);
    border-radius: .4rem;
    margin-bottom: .35rem;
    overflow: hidden;
    z-index: 1;

    &.budget-entry-hidden {
        z-index: 0;
    }

    .budget-entry-accent {
        width: .8rem;
        border-radius: 0;
        border-right: 1px solid var(--bs-white);
        background-color: var(--entry-accent);
    }

    .budget-entry-content {
        min-width: 0;
        font-size: .9rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .1rem 0 .2rem 0;
    }

    &.budget-entry-hovered {
        transition-duration: .3s;
        background-color: color-mix(in srgb, var(--entry-bg, var(--bs-primary-bg-subtle)) 80%, black);

        .budget-entry-accent {
            transition-duration: .3s;
            background-color: color-mix(in srgb, var(--entry-accent, var(--bs-primary)) 80%, black);
        }
    }
}
