.budget-cell {
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: .5rem;
    min-height: 7.5rem;
    padding: .5rem;
    background: var(--bs-gray-100);
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .budget-cell-header {
        padding-bottom: .25rem;
        margin-bottom: .35rem;
        font-weight: 600;
        opacity: .85;
        text-align: center;
    }

    .budget-cell-footer {
        margin-top: auto;
        padding-top: .25rem;
        font-weight: 600;
        opacity: .65;
        text-align: center;
    }

    .budget-cell-content {
        position: relative;
        gap: 1rem;
    }

    &:hover:not(:has(.budget-cell-content:hover)) {
        transition-duration: .3s;
        background-color: var(--bs-gray-200);
    }
}
