.budget-grid-wrapper {
    width: 100%;
    max-width: 100%;
    min-width: 0;
    overflow-x: auto;
    overflow-y: hidden;

    .budget-grid {
        display: grid;
        width: max-content;
        min-width: 100%;

        .budget-grid-cell {
            padding: 0 4px;
            border: 1px solid #ddd;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0 2px;
            border: none;
            background-color: var(--bs-secondary-bg);
            min-width: 4.75rem;
            font-size: 0.85rem;

            .budget-grid-cell-contents {
                cursor: pointer;
                padding: 0 10px;
                border-radius: var(--bs-border-radius-lg);
                height: stretch;
                transition-duration: 0.1s;
                height: 1.3rem;

                &:hover {
                    background-color: var(--hover-color) !important;
                }

                &.empty:hover {
                    background-color: var(--bs-gray-400) !important;
                }
            }

            &.group {
                border-top: 4px solid var(--bs-white);
                position: relative;
                background-color: var(--bs-secondary-bg) !important;

                &::after {
                    content: "";
                    position: absolute;
                    top: calc(50% + 2px);
                    left: 0;
                    width: 100%;
                    border-top: 4px solid var(--background-color);
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }

            &.total {
                text-align: center;
                border-radius: 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0;
                border-top: 4px solid var(--bs-white);
                border-bottom: 4px solid var(--bs-white);
                margin-top: 0px;
                margin-bottom: -4px;
                background-color: var(--background-color) !important;

                .budget-grid-cell-contents:hover {
                    background-color: var(--background-color) !important;
                    cursor: auto;
                }

                &::after {
                    display: none;
                }
            }

            &.end {
                border-radius: 0 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg);
                text-align: center;
                margin-top: 4px;
            }

            &.total.end {
                border-radius: var(--bs-border-radius-lg);
                background-color: var(--bs-gray-400) !important;
                margin-top: 0px;
            }
        }

        .budget-grid-period-header {
            text-align: center;
            background-color: var(--bs-secondary-bg);
            border-radius: var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0 0;

            p {
                margin: 0;
            }
        }

        .budget-grid-label-cell,
        .budget-grid-group-cell,
        .budget-grid-label-header {
            white-space: nowrap;
            background-color: transparent;
            text-align: right;
            line-height: 1.1rem;
            align-self: center;
            width: 8rem;
            position: sticky;
            left: 0;
            z-index: 2;
            background: var(--bs-body-bg);
        }

        .budget-grid-group-cell {
            margin-top: 5px;
            margin-bottom: -5px;
            line-height: 1.4rem;

            span {
                font-weight: 600;
                font-size: 0.75rem;
                padding: 2px 8px;
                border-radius: var(--bs-border-radius);
            }
        }
    }
}
