.graph-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .dropdown {
        display: flex;
        gap: 0.5rem;
        margin-left: auto;
    }
}

::deep .dropdown-menu {
    width: max-content;
}

::deep .hx-form-group:last-child label {
    visibility: visible;
}

::deep .reset {
    margin-right: auto;
    border: none !important;
    color: var(--colour-grey);
    padding: 0;
    margin-left: calc(var(--space-tiny) * -1);
}