.category-cards-title {
    margin-bottom: 0.5rem;
    color: var(--bs-secondary-color);
}

.category-cards-grid {
    display: grid;
    width: 100%;
    margin-bottom: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 768px) {
    .category-cards-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1200px) {
    .category-cards-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1400px) {
    .category-cards-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1800px) {
    .category-cards-grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
