.category-group-panel {

    .actions {
        display: flex;

        .right {
            margin-left: auto;

            button {
                margin-top: 0.75rem;
                margin-left: 0.5rem;
            }
        }
    }

    .heading {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .icon {
            font-size: 5rem;
        }

        .text {
            display: flex;
            flex-direction: column;

            h1 {
                margin: 1rem 0 0 0;
            }
        }
    }


    h4 {
        margin-top: 1.5rem;
    }
}

::deep .category-col,
::deep .category-action-col {
    width: 1%;
    white-space: nowrap;
}

::deep .category-action-col {
    text-align: right;
}


::deep .back-button {
    font-size: 2rem;
    margin-left: -0.7rem;

    &:active {
        border: none;
    }
}

::deep td button {
    padding: 0;
}

::deep tr {
    cursor: default;
}