.heading {
    align-items: center;
    gap: 0.5rem;

    .across {
        display: flex;
        justify-content: space-between;

        &.below {
            margin: -1.5rem 0.25rem 0 0.25rem;
        }
    }
}
