div {
    display: flex;
    position: relative;

    .auto-categorised select {
        padding-left: 26px;
        box-shadow: 0 0 0 .25rem rgba(13,202,240, .25);
        border-radius: var(--bs-border-radius);
    }
}

    div ::deep .hx-icon {
        position: absolute;
        font-size: 1rem;
        left: 8px;
        top: 6px;
        z-index: 1;
    }

    div ::deep select option:disabled {
        text-align: center;
        text-align-last: center;
        margin-right: -40px;
    }

    div ::deep div {
        width: 100%
    }
