.transaction-group {
    display: grid;
    grid-template-columns: 1fr 23rem;
    border: 1px solid #d4d7d9;
    border-radius: 8px;
    margin-bottom: 1rem;

    .transactions-row {
        display: grid;
        grid-template-columns: 12rem 9rem 1fr 6rem 5rem 7rem;
        gap: 1rem;
        align-items: center;
        padding: 0.75rem 1rem;

        input[type=number] {
            text-align: right;
        }
    }

    .transaction-label {
        text-align: right;
    }

    .action-buttons {
        display: grid;
        grid-template-columns: 1fr 5rem 5rem;
        justify-content: end;
        gap: 1rem;
        padding: 0.75rem 1rem 0.75rem 0;
    }
}
