header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 2rem;
}

.search-container input {
    padding: 6px 10px;
    border-radius: var(--radius-small);
    border: none;
    background: var(--colour-light-grey);
    width: 350px;
}

.actions {
    display: flex;
    gap: 8px;
}

@media (max-width: 640.98px) {
    header {
        display: none;
    }
}