.main-layout ::deep section aside {
    border-right: solid 1px var(--bs-gray-400);
}
    .main-layout ::deep section aside nav ul li {
        font-size: 1.1rem;
        margin-top: 0.5rem;
    }

.main-layout ::deep section header {
    background-color: var(--bs-tertiary-bg);
    border-bottom: solid 1px var(--bs-gray-400);
}

    .main-layout ::deep section header > span {
        color: var(--bs-body-color);
        font-size: 1.5rem;
        margin-left: 0.1rem;
        margin-right: 1.7rem;
    }

    .main-layout ::deep section header .search {
        margin-right: auto;
        width: 400px;
        background-color: transparent;
    }