.action-buttons {
    display: flex;
    gap: var(--space-small);
    margin-left: auto;
}

    .action-buttons ::deep .btn.import {
        background-color: var(--colour-secondary) !important;
        color: var(--colour-white) !important;
        border: none !important;
    }

    .action-buttons ::deep .btn.preview {
        background-color: var(--colour-accent) !important;
        color: var(--colour-white) !important;
        border: none !important;
    }

    .action-buttons ::deep .btn.reset {
        color: var(--colour-primary) !important;  
        border: 1px solid var(--colour-primary) !important;
    }

    .action-buttons ::deep button.btn:disabled {
        background-color: var(--colour-lightgrey) !important;
        color: var(--colour-grey) !important;
        border: 1px solid var(--colour-lightgrey) !important;
    }
