.import-success ::deep .import-success-icon {
    color: green;
    display: flex;
    font-size: 6rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}
