.budget-grid-wrapper {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--colour-white);
    border: 1px solid var(--colour-border);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-medium);


    .budget-grid {
        display: grid;
        width: max-content;
        min-width: 100%;
        font-size: var(--fontsize-tablecontent);

        .budget-grid-cell {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border: 1px solid var(--colour-offwhite);
            padding: 0.25rem 0.5rem;

            &:has(.start) {
                border-right: 0;
            }

            &:has(.middle) {
                border-left: 0;
                border-right: 0;
            }

            &:has(.end) {
                border-left: 0;
            }

            &.budget-grid-entry-cell {
                cursor: pointer;
                text-transform: none;

                span {
                    display: block;
                    height: 100%;
                    border-radius: var(--radius-small);
                    text-align: center;
                    align-content: center;
                    font-weight: var(--fontweight-semibold);
                    transition-duration: var(--duration-short);

                    &.start,
                    &.middle {
                        margin-right: -10px;
                        padding-right: 10px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &.end,
                    &.middle {
                        margin-left: -10px;
                        padding-left: 10px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }

                &.budget-grid-entry-empty span:hover {
                    background-color: var(--colour-border);
                }

                &.positive span {
                    color: var(--colour-success);
                    background-color: var(--colour-success-light) !important;

                    &:hover {
                        background-color: var(--colour-success) !important;
                        color: var(--colour-white);
                    }
                }

                &.negative span {
                    color: var(--colour-danger);
                    background-color: var(--colour-danger-light) !important;

                    &:hover {
                        background-color: var(--colour-danger) !important;
                        color: var(--colour-white);
                    }
                }

                &.future span {
                    color: var(--colour-secondary);
                    background-color: var(--colour-highlight) !important;

                    &:hover {
                        background-color: var(--colour-secondary) !important;
                        color: var(--colour-white);
                    }
                }
            }

            p {
                margin: 0;
            }

            &.group {
                position: relative;
                background-color: var(--colour-offwhite);

                &::after {
                    content: "";
                    position: absolute;
                    top: calc(50% + 2px);
                    left: 0;
                    width: 100%;
                    transform: translateY(-50%);
                    pointer-events: none;
                }
            }

            &.total {
                text-align: right;
                cursor: auto;
                font-weight: var(--fontweight-black);
            }

            &.end {
                text-align: center;
                background-color: var(--colour-offwhite);
            }

                &.end.positive,
                &.total.positive {
                    font-weight: var(--fontweight-semiblack);
                    color: var(--colour-success);
                }

                &.end.negative,
                &.total.negative {
                    font-weight: var(--fontweight-semiblack);
                    color: var(--colour-danger);
                }

                &.end.total {
                    font-weight: var(--fontweight-black);
                    color: var(--colour-secondary);
                }
        }

        .budget-grid-period-header {
            text-align: center;
        }

        .budget-grid-category-header {
            text-align: left;
            border-top: none;
            border-left: none;
        }

        .budget-grid-total-header {
            text-align: right;
            border-top: none;
            border-right: none;
        }

        .budget-grid-total-footer {
            background-color: var(--colour-offwhite);
        }

        .budget-grid-period-header, .budget-grid-category-header, .budget-grid-total-header {
            padding-top: var(--space-small);
        }

        .budget-grid-total-footer, .budget-grid-entry-cell.end {
            padding-top: var(--space-small);
        }


        .budget-grid-period-header, .budget-grid-category-header, .budget-grid-total-header, .budget-grid-total-footer {
            font-weight: var(--fontweight-black);
            color: var(--colour-grey);
            text-transform: uppercase;
        }

        .budget-grid-label-cell,
        .budget-grid-group-cell,
        .budget-grid-label-header {
            align-self: center;
        }

        .budget-grid-group-cell {
            background-color: var(--colour-offwhite);
            text-transform: uppercase;
        }

            .budget-grid-group-cell span {
                color: var(--colour-grey);
                font-weight: var(--fontweight-black);
            }
    }
}
