.card {
    flex: 3;

    .heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: var(--space-small);
    }

    .budget-category-usage {
        display: grid;
        gap: var(--space-small);
        grid-template-columns: 10rem auto 4rem;
        margin-bottom: var(--space-small);
        align-items: center;

        span a {
            color: var(--colour-grey);
            font-weight: var(--fontweight-semibold);
            display: inline-block;
            width: 100%;
            text-decoration: none;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
        }
    }

    .empty-text {
        align-content: center;

        p {
            text-align: center;
        }
    }
}

::deep .progress {
    height: 0.75rem !important;
}

::deep .progress-bar.success {
    background-color: var(--colour-success);
}

::deep .progress-bar.danger {
    background-color: var(--colour-danger);
}

::deep .progress-bar.normal {
    background-color: var(--colour-secondary);
}

.category-proportion {
    font-weight: var(--fontweight-semibold);

    &.success {
        color: var(--colour-success) !important;
    }

    &.danger {
        color: var(--colour-danger) !important;
    }

    &.normal {
        color: var(--colour-secondary) !important;
    }
}
