.card {
    width: 100%;
    padding: 1rem;

    .heading {
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }

    .chart {
        margin-top: -5rem;
        height: 21rem;
    }

    .empty-text {
        height: 21rem;
        align-content: center;

        p {
            text-align: center;
        }
    }
}
