.list-layout ::deep .clear-button {
    margin-right: auto;
    border: none !important;
    color: var(--colour-textmuted);
    padding: 0;
    margin-left: calc(var(--space-tiny) * -1);
}

.list-layout ::deep .card .hx-button.btn-light {
    background-color: var(--colour-secondary) !important;
    color: var(--colour-textwhite) !important;

    i::after {
        font-weight: var(--fontweight-bold) !important;
        margin-right: var(--space-small);
    }
}


.list-layout ::deep .responsive-dropdown {
    display: inline-flex;
    width: 100%;
}

    .list-layout ::deep .responsive-dropdown .dropdown-group {
        width: 100%;
    }

        .list-layout ::deep .responsive-dropdown .dropdown-group button {
            width: 100%;
        }

@media (max-width: 768px) {
    .list-layout ::deep .card .hx-button.btn-light {
        width: 50%;
    }
}