.page-subheading {
    display: flex;
    flex-wrap: wrap;

    .actions {
        display: flex;
        gap: var(--space-small);
        align-items: center;
    }

    .parts.dot ::deep > *:not(:last-child)::after {
        content: "·";
        margin: 0 0.2rem 0 0.5rem;
    }

    .parts.linebreak ::deep > * {
        display: block;
    }

        .parts.linebreak ::deep > *:not(:first-child) {
            margin-top: var(--space-small);
        }
}
