.budget-grid-wrapper {
    overflow-y: hidden;
    background-color: var(--colour-white);
    border: 1px solid var(--colour-border);
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-medium);

    .budget-grid {
        display: grid;
        width: max-content;
        min-width: 100%;
        font-size: var(--fontsize-label);
    }
}
