.budget-grid-cell {
    text-align: center;
    border: 1px solid var(--colour-border);
    background-color: var(--colour-card);
    padding: 0.25rem 0.5rem;

    p {
        margin: 0;
    }

    &.positive  p{
        color: var(--colour-success);
    }

    &.negative p {
        color: var(--colour-danger);
    }

    &.future p {
        color: var(--colour-neutral);
    }
}

.budget-grid-header .budget-grid-cell {
    font-weight: var(--fontweight-black);
    color: var(--colour-textmuted);
    text-transform: uppercase;

    &:first-child {
        text-align: left;
    }

    &:last-child {
        text-align: right;
    }
}

    .budget-grid-header .budget-grid-cell ::deep p {
        font-weight: var(--fontweight-black);
        color: var(--colour-textmuted);
    }

.budget-grid-footer .budget-grid-cell {
    background-color: var(--colour-card-hover);
    font-weight: var(--fontweight-semibold);

    &:first-child p {
        text-align: left;
        font-weight: var(--fontweight-black);
        color: var(--colour-textmuted);
        text-transform: uppercase;
    }

    &:last-child {
        text-align: right;
    }
}

.budget-grid-group .budget-grid-cell {
    background-color: var(--colour-card-hover);
    font-weight: var(--fontweight-black);
    text-align: left;
    color: var(--colour-textmuted);
    text-transform: uppercase;

    &:last-child {
        text-align: right;
    }
}

.budget-grid-category .budget-grid-cell {

    &:not(:first-child, :last-child) {
        border-left: none !important;
        border-right: none !important;
        padding: 0.25rem 0 !important;
        cursor: pointer;
    }

    &:nth-child(2) {
        padding-left: 0.5rem !important;
    }

    &:nth-last-child(2) {
        padding-right: 0.5rem !important;
    }

    &:last-child {
        text-align: right;
    }
}

    .budget-grid-category .budget-grid-cell ::deep span {
        width: 100%;
        display: inline-block;
        font-weight: var(--fontweight-semibold);
    }

    .budget-grid-category .budget-grid-cell:nth-child(2) ::deep span {
        border-radius: var(--radius-small) 0 0 var(--radius-small);
    }

    .budget-grid-category .budget-grid-cell:nth-last-child(2) ::deep span {
        border-radius: 0 var(--radius-small) var(--radius-small) 0;
    }

    .budget-grid-category .budget-grid-cell:not(:first-child, :last-child) ::deep span:hover p {
        color: var(--colour-card);
    }

    .budget-grid-category .budget-grid-cell.positive:not(:last-child) ::deep span {
        background-color: var(--colour-success-light);

        &:hover {
            background-color: var(--colour-success);
        }
    }

    .budget-grid-category .budget-grid-cell.negative:not(:last-child) ::deep span {
        background-color: var(--colour-danger-light);

        &:hover {
            background-color: var(--colour-danger);
        }
    }

    .budget-grid-category .budget-grid-cell.future:not(:last-child) ::deep span {
        background-color: var(--colour-neutral-light);

        &:hover {
            background-color: var(--colour-neutral);
        }
    }
