.category-combobox {
    position: relative;

    .dropdown {
        position: absolute;
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        background: var(--colour-card);
        border: 1px solid var(--colour-border);
        z-index: 1000;

        .dropdown-header {
            font-weight: bold;
            padding: 6px 10px;
            background: var(--colour-card-hover);
        }

        .dropdown-item {
            padding: 6px 10px;
            cursor: pointer;
            border-radius: 0;

            &:hover {
                background-color: var(--colour-card-hover);
            }

            &.back {
                font-weight: bold;
                border-bottom: 1px solid var(--colour-border);

                .bi-arrow-left {
                    margin-right: 5px;
                }
            }

            &.navigated {
                background-color: var(--bs-primary-bg-subtle);
            }
        }
    }

    .input-wrapper {
        position: relative;

        .auto-categorised {
            padding-left: 26px;
            box-shadow: var(--shadow-info);
            border-radius: var(--bs-border-radius);
        }

        .input-wrapper input {
            padding-right: 2rem;
        }

        .clear-btn {
            position: absolute;
            right: 2px;
            top: 0%;
            border: none;
            background-color: transparent;
            font-size: 1.5rem;
            color: var(--bs-secondary);

            &.labelled {
                top: 40%;
            }
        }
    }
}

::deep .bi-stars {
    position: absolute;
    font-size: 1rem;
    left: 8px;
    top: 6px;
    z-index: 1;
    color: var(--colour-primary);
}
