.icon-preview {
    margin-right: var(--space-medium);
    border-radius: var(--radius-medium);
    width: 3.5rem;
    display: flex;
    border: 1px solid var(--colour-border);
    background-color: var(--colour-card);
}

::deep i {
    margin: auto;
    font-size: var(--fontsize-icon);
}

::deep .dropdown {
    width: 100%;
    background-color: var(--colour-card);
}

::deep .dropdown-menu.show {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

::deep .dropdown-menu .hx-button {
    background-color: var(--colour-card);
    padding: 0 !important;
    height: auto !important;
}

::deep .dropdown-menu .hx-button:hover {
    background-color: var(--colour-card-hover);
}

::deep .dropdown .hx-button {
    display: inline-flex !important;
    border: 1px solid var(--colour-border);
    text-decoration: none !important;
    height: 2.3rem;
    padding: var(--space-small);
}


::deep .icon-button {
    text-decoration: none;
    color: var(--colour-text);
    justify-content: start !important;
    border: 1px solid var(--colour-border) !important;
    font-weight: normal !important;
}

    ::deep .icon-button:hover,
    ::deep .icon-button:focus,
    ::deep .icon-button:active {
        color: var(--colour-text) !important;
    }

    ::deep .icon-button::after {
        margin-left: auto !important;
    }
