.input-group {

    .input-group-text {
        width: 38px;
    }

    & ::deep .bi-search {
        position: absolute;
        left: 0.75rem;
        top: 0.65rem;
        width: 1rem;
        height: 1rem;
        color: var(--bs-secondary);
    }
}
