.hx-list-layout .card {
    border: none !important;
    background-color: transparent !important;
    box-shadow: none;
    border: none;
    padding: 0 !important;

    .card-body {
        padding: 0 0 0.4rem 0;

        .hx-list-layout-header {
            grid-template-areas: "search title buttons";
            grid-template-columns: auto 0 auto;
        }
    }

    .hx-button.btn-light i {
        display: flex;
        flex-direction: row;
        align-items: center;

        &::after {
            font-style: normal;
            content: "Filters";
            order: 1;
        }

        &::before {
            order: 2;
        }
    }

    .hx-chip-list {
        display: none;
    }

    .pagination {
        margin: 1rem 0 0 0;
    }
}

.hx-grid-container {
    border: 1px solid var(--colour-border);
    border-radius: var(--radius-medium);
    background-color: var(--colour-card);

    table {
        margin-bottom: 0;

        tbody tr td {
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            background-color: transparent;
        }

        tbody tr:last-child {
            border-bottom-color: transparent;
        }

        thead tr th {
            background-color: transparent;
        }
    }
}

    .hx-grid-container.grid-invisible {
        border: none !important;
        background-color: transparent;

        table {
            thead {
                display: none;
            }

            tbody tr td {
                border: 0;
                padding: 0 0 0.5rem 0 !important;

                .hx-context-menu {
                    opacity: 1;
                }
            }
        }
    }

.btn-group {
    .hx-form-group {
        select {
            border-radius: 0;
            border-right-width: 0;
            position: relative;

            &:focus {
                z-index: 1;
                border-right-width: var(--bs-border-width);
            }
        }

        &:first-child select {
            border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
        }

        &:last-child select {
            border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
            border-right-width: var(--bs-border-width);
        }

        &:last-child label {
            visibility: hidden;
        }
    }
}

.hx-form-group select.text-center {
    width: 100%;
}

.tab-content {
    margin-top: 1rem;
}

.hx-input-date input {
    padding-right: 2rem !important;
}

input[type="checkbox"] {
    cursor: pointer;
}
