.hx-list-layout .card {
    border: none;

    .card-body {
        padding: 0 0 0.4rem 0;

        .hx-list-layout-header {
            grid-template-areas: "search title buttons";
        }
    }


    .hx-grid-container {
        border: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-radius: var(--bs-card-border-radius);

        tbody tr td {
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            background-color: transparent;
        }

        tbody tr:last-child {
            border-bottom-color: transparent;
        }

        thead tr th {
            background-color: transparent;
        }
    }
}

.hx-grid-container.grid-invisible table {

    thead {
        display: none;
    }

    tbody tr td {
        border: 0;
        padding: 0.5rem 0;

        .hx-context-menu {
            opacity: 1;
        }
    }
}

.btn-group {

    .hx-form-group select {
        border-radius: 0;
        border-right-width: 0;
        position: relative;
    }

        .hx-form-group select:focus {
            z-index: 1;
            border-right-width: var(--bs-border-width);
        }


    .hx-form-group:first-child select {
        border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius);
    }

    .hx-form-group:last-child select {
        border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
        border-right-width: var(--bs-border-width);
    }

    .hx-form-group:last-child label {
        visibility: hidden;
    }
}

.tab-content {
    margin-top: 1rem;
}
