:root {
    --colour-primary: #13294b;
    --colour-secondary: #126b76;
    --colour-secondary-hover: #0c535c;
    --colour-accent: #2b3f5d;
    --colour-accent-hover: #213047;
    --colour-highlight: #def1f1;
    --colour-background: #f4f6f8;
    --colour-border: #dbdddf;
    /**/
    --colour-danger: #a81e2e;
    --colour-danger-light: #f8d7da;
    --colour-danger-hover: #7a1621;
    --colour-warning: #8a5a06;
    --colour-warning-light: #fdf7ea;
    --colour-info: #365958;
    --colour-info-light: #d1ecf1;
    --colour-success: #15723f;
    --colour-success-light: #d4edda;
    /**/
    --colour-white: #ffffff;
    --colour-black: #000000;
    --colour-grey: #65728a;
    --colour-lightgrey: #a5adba;
    --colour-offwhite: #f8f9fa;
    /**/
    /**/
    --fontsize-heading: 2em;
    --fontsize-subheading: 1rem;
    --fontsize-tableheading: 0.75rem;
    --fontsize-heading2: 1.75em;
    --fontsize-accent: 1.25em;
    --fontsize-icon: 1.5rem;
    /**/
    /**/
    --fontweight-black: 700;
    --fontweight-semiblack: 650;
    --fontweight-bold: 600;
    --fontweight-semibold: 500;
    /**/
    /**/
    --space-large: 2rem;
    --space-medium: 1rem;
    --space-small: 0.5rem;
    --space-tiny: 0.25rem;
    /**/
    /**/
    --shadow-medium: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --shadow-large: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    --shadow-focus: 0 0 0 0.25rem rgba(18, 107, 118, 0.25);
    --shadow-info: 0 0 0 0.25rem rgba(102, 211, 224, 0.25);
    /**/
    /**/
    --radius-medium: 0.6rem;
    --radius-large: 1rem;
    /**/
    /**/
    --duration-short: 0.1s;
}


/* Main */
main {
    background-color: var(--colour-background);

    &.p-4 {
        padding: var(--space-large) !important;
    }

    .page-heading {
        font-size: var(--fontsize-heading);
        font-weight: var(--fontweight-black);
        color: var(--colour-primary);
        margin-bottom: var(--space-medium);
    }

    .page-subheading {
        display: flex;
        font-size: var(--fontsize-subheading);
        color: var(--colour-grey);
        margin-top: calc(var(--space-medium) * -1);
        margin-bottom: var(--space-medium);

        p {
            margin-right: auto;
        }
    }
}

/* Sidebar */
.hx-sidebar.bg-body-secondary {
    background-color: var(--colour-primary) !important;

    .hx-sidebar-brand {

        .hx-sidebar-brand-shortname {
            font-size: var(--fontsize-accent);
            font-weight: var(--fontweight-bold);
            background-color: var(--colour-secondary);
        }

        .hx-sidebar-brand-name {
            font-size: var(--fontsize-accent);
            font-weight: var(--fontweight-bold);
            color: var(--colour-white);
        }
    }

    a.nav-link {
        font-weight: var(--fontweight-semibold);
        color: var(--colour-lightgrey);

        .hx-sidebar-item-icon {
            color: var(--colour-lightgrey);
        }

        &.active {
            font-weight: var(--fontweight-semibold);
            color: var(--colour-white);
            background-color: var(--colour-accent);

            .hx-sidebar-item-icon {
                color: var(--colour-white);
            }

            &:hover .hx-sidebar-item-icon {
                color: var(--colour-white);
            }
        }

        &:hover {
            color: var(--colour-white);
            background-color: var(--colour-accent) !important;

            .hx-sidebar-item-icon {
                color: var(--colour-white);
            }
        }
    }

    .hx-sidebar-toggler {
        .hx-sidebar-toggler-arrow {
            background-color: var(--colour-accent);
        }

        &:hover {
            .hx-sidebar-toggler-arrow {
                background-color: var(--colour-accent);
            }
        }
    }
}


/*Alerts*/
.alert {
    display: flex;
    color: var(--colour-black);

    &.alert-warning {
        background-color: var(--colour-warning-light);
        border-color: var(--colour-warning);
        color: var(--colour-warning);

        a {
            color: var(--colour-warning);
        }
    }

    &.alert-danger {
        background-color: var(--colour-danger-light);
        border-color: var(--colour-danger);
        color: var(--colour-danger);

        a {
            color: var(--colour-danger);
        }
    }

    &.alert-success {
        background-color: var(--colour-success-light);
        border-color: var(--colour-success);
        color: var(--colour-success);

        a {
            color: var(--colour-success);
        }
    }

    &.alert-info {
        background-color: var(--colour-info-light);
        border-color: var(--colour-info);
        color: var(--colour-info);

        a {
            color: var(--colour-info);
        }
    }

    i {
        margin-right: var(--space-small);
    }
}

/*Toast*/
.toast {
    margin-bottom: var(--space-small);

    &.bg-info {
        background-color: var(--colour-info-light) !important;
        color: var(--colour-info) !important;
        border-color: var(--colour-info);

        .btn-close {
            color: var(--colour-info);
        }
    }

    &.bg-success {
        background-color: var(--colour-success-light) !important;
        color: var(--colour-success) !important;
        border-color: var(--colour-success);

        .btn-close {
            color: var(--colour-success);
        }
    }

    &.bg-warning {
        background-color: var(--colour-warning-light) !important;
        color: var(--colour-warning) !important;
        border-color: var(--colour-warning);

        .btn-close {
            color: var(--colour-warning);
        }
    }

    &.bg-danger {
        background-color: var(--colour-danger-light) !important;
        color: var(--colour-danger) !important;
        border-color: var(--colour-danger);

        .btn-close {
            color: var(--colour-danger);
        }
    }
}

/*Cards*/
.card {
    padding: var(--space-medium);
    box-shadow: var(--shadow-medium);
}


/*Buttons*/
button.btn {
    padding: 0.25rem 0.75rem;
    font-weight: var(--fontweight-semibold);

    &:hover {
        z-index: 0 !important;
    }

    &.btn-primary {
        color: var(--colour-white);
        background-color: var(--colour-secondary) !important;
        border: 1px solid var(--colour-secondary) !important;

        &:hover {
            background-color: var(--colour-secondary-hover) !important;
            border: 1px solid var(--colour-secondary-hover) !important;
        }
    }

    &.btn-secondary {
        color: var(--colour-white);
        background-color: var(--colour-accent) !important;
        border: 1px solid var(--colour-accent) !important;

        &:hover {
            background-color: var(--colour-accent-hover) !important;
            border: 1px solid var(--colour-accent-hover) !important;
        }
    }

    &.btn-danger {
        color: var(--colour-white);
        background-color: var(--colour-danger) !important;
        border: 1px solid var(--colour-danger) !important;

        &:hover {
            background-color: var(--colour-danger-hover) !important;
            border: 1px solid var(--colour-danger-hover) !important;
        }
    }

    &.btn-light {
        background-color: var(--colour-white);
        border: 1px solid var(--colour-grey) !important;
    }

    select.form-select {
        cursor: pointer;
        padding: 0.25rem 0.75rem;
    }

    .form-check .form-check-input:checked {
        background-color: var(--colour-secondary);
        border-color: var(--colour-secondary);
    }

    .form-control:focus,
    .form-select:focus,
    .form-check-input:focus {
        box-shadow: var(--shadow-focus) !important;
    }

    input[inputmode=search] {
        padding: 0.25rem 0.75rem;
    }
    /*Modals*/
    .modal .modal-header,
    .offcanvas, .offcanvas-header {
        .modal-title,
        .offcanvas-title {
            font-size: var(--fontsize-heading2);
            color: var(--colour-primary);
        }

        .btn-close {
            opacity: 0.9 !important;
            margin-top: 0;
            margin-bottom: auto;
            padding-top: 0;
        }
    }
    /*Pagination*/
    .pagination {
        background-color: none;

        .page-item {
            button {
                border: 1px solid var(--colour-lightgrey);
                color: var(--colour-primary);
            }

            &.active span {
                background-color: var(--colour-primary);
                border: 1px solid var(--colour-primary);
            }

            &.disabled button {
                color: var(--colour-lightgrey);
                border: 1px solid var(--colour-lightgrey);
            }
        }

        .page-link:focus {
            box-shadow: none;
            background-color: var(--colour-white);
        }
    }
    /*Nav*/
    .nav {
        a {
            color: var(--colour-secondary);

            &:hover {
                color: var(--colour-primary);
            }
        }

        &.nav-tabs .nav-link.active {
            color: var(--colour-primary);
        }

        &.nav-pills .nav-link.active {
            color: var(--colour-secondary);
            background-color: var(--colour-highlight);

            &:hover {
                color: var(--colour-primary);
            }
        }
    }
    /*Table*/
    .hx-grid.table {
        background-color: var(--colour-white);
        border-radius: var(--radius-medium);

        thead {
            th {
                vertical-align: initial;
                padding-bottom: 0.25rem;

                &.text-end .hx-grid-header-cell-template {
                    padding-top: 3px;
                }

                .hx-grid-header-cell-template {
                    color: var(--colour-grey);
                    font-size: var(--fontsize-tableheading);
                    text-transform: uppercase;
                }

                .hx-icon {
                    color: var(--colour-secondary);
                }
            }
        }
    }

    .hx-list-layout .card .hx-button.btn-light {
        background-color: var(--colour-white) !important;
        border: 1px solid var(--colour-border) !important;
        color: var(--colour-primary) !important;

        i::after {
            margin-right: var(--space-small);
        }
    }

    .hx-grid-container.grid-invisible {
        .hx-grid.table {
            background-color: transparent;

            tbody tr td > div {
                border-radius: var(--radius-medium);
                background-color: var(--colour-white);
            }
        }
    }
    /*Calendar*/
    .hx-input-date-wrapper {
        .hx-calendar {
            .hx-calendar-week {
                .hx-calendar-day-today {
                    color: var(--colour-secondary);
                    background-color: var(--colour-highlight);
                }

                .hx-calendar-day {
                    &.hx-calendar-day-selected {
                        background-color: var(--colour-secondary);
                    }

                    &:focus {
                        box-shadow: var(--shadow-focus) !important;
                    }
                }
            }
        }

        .hx-calendar-navigation-button:focus {
            box-shadow: var(--shadow-focus) !important;
        }

        .hx-input-date-dropdown-buttons button {
            text-decoration: none;
            color: var(--colour-grey);

            &:hover {
                color: var(--colour-primary);
            }
        }
    }
