.group-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--colour-border);
    border-left: 6px solid var(--group-accent-color);
    border-radius: var(--radius-medium);
    background-color: var(--colour-card);
    cursor: pointer;
    box-shadow: var(--shadow-medium);

    &:hover {
        background-color: var(--colour-card-hover);
        box-shadow: var(--shadow-large);
        transition-duration: var(--duration-short);
    }

    .card-title {
        display: flex;
        gap: var(--space-small);
    }

    .group-card-header {
        gap: 0.5rem;

        .group-card-icon {
            flex-shrink: 0;

            &.group-card-icon-income {
                color: var(--bs-success);
            }

            &.group-card-icon-expense {
                color: var(--bs-danger);
            }
        }

        .group-card-title {
            min-width: 0;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .group-card-subtitle {
        color: var(--bs-secondary-color);
    }
}
