.bank-select-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 110px;

    .bank-logo {
        width: 80px;
        height: 55px;
        margin: 20px;
        margin-bottom: 0;
        object-fit: contain;
    }
}

.bank-list ::deep .btn {
    color: var(--colour-text);
    border: 1px solid var(--colour-border);
}

    .bank-list ::deep .btn:hover {
        color: var(--colour-text);
        border: 1px solid var(--colour-border);
    }

    .bank-list ::deep .btn:has(.active) {
        background-color: var(--colour-primary);
        border: 1px solid var(--colour-border);
        color: var(--colour-textwhite);
    }
